* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../Fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url(../Fonts/PlayfairDisplay-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Podkova';
  src: url(../Fonts/Podkova-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url(../Fonts/Oswald-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
:root {
  --index: calc(1vw + 1vh);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #373434;
}
body {
  font-family: 'Playfair Display', Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.container {
  width: 1120px;
  margin: 0 auto;
}
.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header-inner .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-inner .menu li {
  margin: 0 2vw;
}
.header-inner .menu li a {
  color: #000000;
  font-family: 'Playfair Display';
  font-size: 22px;
}
.header-inner .menu .square {
  display: none;
}
.header-inner .contact {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background: #ED8623;
  border-radius: 10px;
}
.header-inner .contact a {
  color: inherit;
}
.header-inner .logo {
  margin: 10px;
}
/* промо-блок */
.promo {
  background: #f6f1f1 url(../Img/Promo.png) no-repeat 50% 0;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.promo-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 10vh;
}
.promo-inner h1 {
  width: 100%;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  background-image: radial-gradient(circle, #F8F8FB, #E2B02D, #0683AA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 110px;
  letter-spacing: 0.07em;
  text-align: center;
  margin-bottom: 50px;
}
.promo-inner h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 35.2px;
  text-align: center;
  color: #FFFFFF;
}
.promo-inner .btn-cta {
  width: 447px;
  height: 56px;
  background: #ED8623;
  border-radius: 10px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #52281C;
  margin-bottom: 30px;
}
.service {
  margin-top: 3rem;
}
.service__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}
.service__card {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  flex: 1 1 28%;
  max-width: 400px;
  min-width: 300px;
  height: calc(var(--index) * 15);
  min-height: 230px;
  padding: 30px;
  overflow: hidden;
  margin-bottom: calc(var(--index));
}
.service__card--celebrate {
  position: relative;
  overflow: hidden;
}
.service__card--celebrate .text {
  text-align: center;
  color: #ED8623;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: calc(var(--index) * 3);
}
.service__card--celebrate:hover .image {
  cursor: pointer;
  opacity: 0;
  transition: 0.7s;
}
.service__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #52281C;
}
.team {
  margin: 3rem;
}
.team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--index));
}
.team__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.team__card--animate {
  position: relative;
  overflow: hidden;
}
.team__card--animate .second {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__card--animate:hover .first {
  cursor: pointer;
  opacity: 0;
  transition: 1s;
}
.team__card--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #52281C;
  width: 100%;
}
.team__card--title h3 {
  color: #52281C;
}
.advant {
  margin: 3rem;
}
.advant__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.advant__card {
  flex: 1 1 20%;
  max-width: 300px;
  min-width: 200px;
  height: calc(var(--index));
  min-height: 200px;
  text-align: center;
  padding-top: calc(var(--index));
  background: #ED8623;
  margin: calc(var(--index));
}
.advant__card p {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio {
  margin: 3rem;
}
.portfolio__click {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin: calc(var(--index)*2);
}
.portfolio__click .foto {
  width: 10vw;
  height: calc(var(--index) * 2);
  color: #FFFFFF;
  background: #52281C;
}
.portfolio__click .video {
  width: 10vw;
  height: calc(var(--index) * 2);
  color: #52281C;
  border: 1px solid #52281C;
}
.portfolio__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.portfolio__card img {
  width: 50%;
  margin-right: calc(var(--index));
}
.forma {
  margin-top: 3rem;
  background: url(../Img/forma.png) no-repeat 50% 0;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.forma-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
.forma__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 50vw;
  padding: 2rem;
  height: 60vh;
}
.forma__text .t1 {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.forma__text .t2 {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 33px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.forma__text .t3 {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;
}
.forma__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  background: #FFFFFF;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  padding: 3rem;
  text-align: center;
  height: 60vh;
}
.forma__block .group-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.forma__block input {
  flex: 1 1 auto;
  border: 1px solid #373434;
  background: #D9D9D9;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 15px;
  font-family: 'Podkova';
}
.forma__block .check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.forma__block .check input {
  flex: 1 1 auto;
  width: 15px;
  height: 15px;
}
.forma__block .check label {
  flex: 1 1 auto;
  font-size: 10px;
}
.forma__block input[type="submit"] {
  width: 370px;
  height: 48px;
  background: #ED8623;
  border-radius: 10px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #52281C;
  margin-top: 30px;
}
.footer {
  background: #52281C;
  width: 100%;
  min-height: 80%;
  color: #FFFFFF;
}
.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer__menu,
.footer__contact,
.footer__network {
  font-family: 'Podkova';
  font-size: 16px;
  color: #FFFFFF;
}
@media (max-width: 1120px) {
  .container {
    margin: 0 auto;
  }
  .header-inner a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 2vw;
    margin: 0 auto;
    min-width: 275px;
  }
  .header-inner {
    height: 50px;
    width: 100%;
    position: relative;
    /* кнопка меню */
  }
  .header-inner .nav {
    display: none;
  }
  .header-inner .contact {
    margin-right: 20vw;
  }
  .header-inner .contact a {
    font-size: 16px;
    background: none;
  }
  .header-inner .link_call {
    display: none;
  }
  .header-inner .logo {
    width: 80px;
  }
  .header-inner .square {
    width: 35px;
    height: 28px;
    border: 1px solid black;
    position: absolute;
    right: 20px;
    transition: 1s;
    display: block;
  }
  .header-inner .line {
    width: 20px;
    height: 2px;
    background: black;
    position: absolute;
    left: calc(50% - 10px);
  }
  .header-inner .one {
    top: 6px;
  }
  .header-inner .two {
    top: 12px;
  }
  .header-inner .three {
    top: 18px;
  }
  .header-inner .square:hover .two {
    display: none;
  }
  .header-inner .square:hover .one {
    transform: rotate(45deg);
    left: calc(50% - 10px);
    top: calc(50%);
  }
  .header-inner .square:hover .three {
    transform: rotate(-45deg);
    left: calc(50% - 10px);
    top: calc(50%);
  }
  .promo-inner h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .promo-inner h3 {
    font-size: 22px;
  }
  .promo-inner .btn-cta {
    height: 40px;
    line-height: 40px;
    font-size: 1.1rem;
    margin-top: 1.1rem;
  }
  .team__list {
    flex-wrap: wrap;
  }
  .team__card {
    padding-top: 1rem;
  }
  .advant__list {
    flex-wrap: wrap;
  }
  .portfolio__card {
    display: block;
  }
  .portfolio__card img {
    width: 100%;
  }
  .forma-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .forma__text {
    display: block;
    width: 100%;
  }
  .forma__text .t1,
  .forma__text .t2,
  .forma__text .t3 {
    font-size: 22px;
    text-align: center;
  }
  .forma__block {
    width: 70vw;
    flex: 1 1 auto;
  }
  .forma__block input {
    font-size: 16px;
    height: 10vh;
    margin: 1rem;
  }
  .forma__block input[type="submit"] {
    width: 60vw;
    height: 10vh;
    font-size: 16px;
  }
  .footer {
    margin-top: calc(var(--index) * 20);
    width: 100%;
    height: 100%;
  }
  .footer-inner {
    display: block;
    text-align: center;
  }
  .footer-inner p {
    font-size: 0.8rem;
  }
  .footer-inner svg {
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 576px) {
  .promo .btn-cta {
    width: 90%;
    margin: 1.2rem auto;
  }
  .team__card {
    text-align: center;
  }
}
